
<!-- Contact Section -->
<section class="container py-5 section-content">
    <h2 class="text-center mb-4">{{contactSection.title}}</h2>
    <div class="text-center">
        <p><a style="text-decoration: none; color:black" href="mailto:{{contactSection.email}}">{{contactSection.email}}</a></p>
        <p><a style="text-decoration: none;color:black" href="tel:{{contactSection.phone}}">{{contactSection.phone}}</a></p>
    </div>
</section>
